@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="jumbotron shadow p-5 mb-4 bg-white rounded">
        <h1>Dobrodošli u MyRent Preglednik</h1>
        <a asp-controller="Object" asp-action="Index"><button class="btn btn-primary">Pregledaj objekte</button></a>
    </div>
</div>
